<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no,target-densitydpi=hight-dpi">
    <meta name="format-detection" content="telephone=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <title>微社区-直播详情页</title>
    <link rel="stylesheet" type="text/css" href="css/style.css">
    <script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="js/android_directSeeding.js"></script>
</head>
<body>
<!-- 分类标题开始 -->
<div class="tabBox dsTabBox" hidden>
    <a href="javascript:void(0);" class="tab-item tab-active">直播</a>
    <a href="javascript:void(0);" class="tab-item">互动</a>
</div>
<!-- 分类标题结束 -->
<div class="margin10px"></div>
<!-- 直播帖子开始 -->
<div class="dsPostBox">
</div>

<!-- 直播帖子结束 -->

</body>
</html>

